<div class="container" ng-controller="SectionSummaryController">
    <div class="col-md-12">
        <div class="panel panel-default" ng-if="section">
            <div class="panel-body">
                <div class="section-header">
                    <h4><b>Sección {{ section.name }} - Semestre {{ section.semester }}</b></h4>
                </div>
                <div class="section-summary">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Tareas Asignadas</th>
                                <th>Tareas Enviadas</th>
                                <th>Promedio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="section-student" ng-repeat="student in section.summary">
                                <td>{{ student.name }}</td>
                                <td>{{ student.assigned }}</td>
                                <td>{{ student.answered }}</td>
                                <td>{{ student.mean }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>