<div class="collapse navbar-collapse" id="app-navbar-collapse" style="padding-left: 10em">
    <!-- Left Side Of Navbar -->
    <a href="#!/" class="btn navbar-btn" ng-class="{ active: isActive('/') }" role="button">Inicio</a>
    <a href="#!/editor" class="btn navbar-btn" ng-class="{ active: isActive('/editor') }" role="button">Editor</a>

    <!-- Right Side Of Navbar -->
    <ul class="nav navbar-right">
        <a href="/google/login" class="btn navbar-btn" role="button">Iniciar sesión</a>
    </ul>
</div>