<div class="collapse navbar-collapse" id="app-navbar-collapse" style="padding-left: 10em">
    <!-- Left Side Of Navbar -->
    <a href="#!/" class="btn navbar-btn" ng-class="{ active: isActive('/') }" role="button">Inicio</a>
    <a href="#!/problemas" class="btn navbar-btn" ng-class="{ active: isActive('/problemas') }" role="button">Enunciados</a>

    <!-- Right Side Of Navbar -->
    <ul class="nav navbar-right">
        <a href="#" class="btn navbar-btn" ng-click="logout()" role="button">Cerrar sesión</a>
    </ul>
</div>